coloredlogs==14.0
cycler==0.10.0
humanfriendly==8.1
joblib==0.14.1
kiwisolver==1.1.0
matplotlib==3.2.1
mido==1.2.9
numpy>=1.21
pandas==1.0.3
pretty-midi==0.2.8
pyparsing==2.4.6
pypianoroll==0.5.3
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
music21==7.1.0
